.active{
    background-color : salmon;
    padding: 5px;
    border-radius: 5px;
}
.bottom-header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 50px;
}